@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* 
body{
    background-color: aqua;
    font-family: 'Merriweather', serif;
}  */

.resetPasswordContainer{
    height: 90vh;
    width: 95vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.resetPasswordBox {
    display:flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color:aqua;
}

.resetPasswordBox .resetPasswordform{
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background:rgba(0 ,0 ,0 ,0.7);
    border-radius: 10px;
    color: white;
    box-shadow: 0 9px 31px rgba(0,0,0,255);
}
.resetPasswordform::before{
    content: " ";
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.08);
    transform-origin: bottom left;
    transform:skew(-26deg);
    border-radius: 10px;
    pointer-events: none;
}

.resetPasswordform .input-box{
    position: relative;
}

.resetPasswordform .input-box input{
    width: 100%;
    padding:10px ;
    font-size:1rem;
    letter-spacing :1px;
    margin-bottom :30px;
    border:none;
    border-bottom:1px solid white; 
    outline: none;
    background-color: transparent;
    color:inherit;
}

.resetPasswordform .input-box label{ 
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-in-out;
} 

.resetPasswordform .input-box input:focus + label, .resetPasswordform .input-box input:valid + label{
 transform: translateY(-26px);
 color:aqua;
 font-size: .8rem;
}



.resetPasswordBtn{
    display: block;
    margin-top: 10px;
    margin-left:auto;
    background:aqua;
    border:none;
    outline:none;
    font-size:.8rem;
    font-weight:bold;
    text-transform:uppercase;
    padding:9px 15px;
    border-radius: 6px;
    cursor:pointer;
}


.resetPasswordBtn:hover{
    color: red;
    padding: 10px 16px;
}



@media screen and (max-width:600px){
    .resetPasswordContainer{
        height: 100vh;
        width: 100vw;
        transition: all 0.5s;
    }
    
}
@media screen and (max-width:400px){
    .resetPasswordContainer{
        height: 100vh;
        width: 110vw;
        transition: all 0.5s;
    }
}